pip install sklearn

pip.showpackage

pip install scikit-learn

In [7]:
from sklearn.impute import SimpleImputer

catogrical data

In [9]:
import pandas as ms

In [10]:
sal_details=ms.DataFrame({'salary':[1200,2500,3000,6000],'cat':['low','low','mid','high']})

In [11]:
sal_details

   salary   cat
0    1200   low
1    2500   low
2    3000   mid
3    6000  high

In [12]:
sal_details.cat.map({'low':0,'mid':1,'high':3})

0    0
1    0
2    1
3    3
Name: cat, dtype: int64

In [13]:
order=['high','mid','low']